html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#info {
    position: fixed;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#info2 {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.floor-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: none;
}
.rotate-container {
    text-align: center;
}

.rotatable-object {
    width: 100px;
    height: 100px;
    margin: 20px;
    transition: transform 0.5s ease;
}